<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<hr>


hello
{{ 'hello'|upper }}
{{ 'hello'|reverse }}
{{ 'hello'|upper|reverse }}

<hr>
{{ list1 }}
<hr>

{{ list1|length }}
<br>
{{ list1|first }}
<br>
{{ list1|last }}
<br>
{{ list1|sort }}
<br>
{{ list1|sum }}
<br>
{{ list1|lireverse }}
<hr>
</body>
</html>