<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<form method="post" action="/" enctype="multipart/form-data">

    <label for="username">username</label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">password</label>
    <input type="password" name="password" id="password" placeholder="">
    <br>
    <label for="cpassword">password</label>
    <input type="password" name="cpassword" id="cpassword">
    <br>
    <input type="file" name="file" id="file">
    <br>
    <input type="submit" id="btn">

</form>
</body>
</html>